<html>

<head>
	<title>Ma première page avec du style</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/main.css">
</head>

<body>
	<img th:src="@{/image/logo.png}" width=17%>

	<h1 align="center">Ajout d'un Etudiant</h1>

	<form method="post" th:action="@{\save}">
		<div class="form-group">
			<label for="nom">Nom</label>
			<input type="text" class="form-control" id="nom"  name="nom" 
				placeholder="Enter nom">
		</div>
		<div class="form-group">
			<label for="age">Age</label>
			<input type="number" class="form-control" id="age" name="age" 
				placeholder="Enter Age">
		</div>
		<div class="form-group">
			<label for="tel">Tel°</label>
			<input type="number" class="form-control" id="tel" name="tel" 
				placeholder="Enter Num Tel">
		</div>
		<div class="form-group">
			<label for="adr">Adresse</label>
			<input type="text" class="form-control" id="adr" name="adr"
				placeholder="Enter Adresse">
		</div>		
		
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>


</body>

</html>